#Requirements
fastapi>=0.128.0
uvicorn>=0.40.0
slowapi>=0.1.9
pydantic>=2.12.5
psutil>=7.2.2
python-dotenv>=1.2.1
alembic>=1.18.3
sqlalchemy>=2.0.46
psycopg2-binary>=2.9.11

# Pinned by snyk to fix https://security.snyk.io/vuln/SNYK-PYTHON-ZIPP-7430899
zipp==3.19.1