services:
  postgres:
    image: postgres:18
    container_name: linux_api-postgres
    restart: unless-stopped

    #env_file: 
    #  - path: ../.env
    #    required: true

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - "${POSTGRES_PORT}:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/

    command: >
      postgres
      -c shared_preload_libraries=pg_stat_statements
      -c max_connections=200
      -c shared_buffers=256MB

    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-U", $(POSTGRES_USER), "-d", $(POSTGRES_DB)]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: